/* Class for validate required fields*/
.field-required:after {
    color: #aa2701;
    content: " *";
}

input[readonly="readonly"] {
    background: white !important;
}

.yellow {
    color: yellow !important;
}

.text-bold {
    font-weight: bold !important;
}

.hr {
    width: 100%;
    padding: 0px !important;
    margin-bottom: 10px !important;
    margin-top: 3px !important;
}

.page-header {
    margin-bottom: 1px !important;
}

.transparent {
    background: rgba(0, 0, 0, 0.3) !important;
}

.transparent-header {
    background: rgba(0, 0, 0, 0.67) !important;
}
.sidebar{
    transition: all 1s !important;
}
.content{
    transition: position 1s !important;
}

.click{
    cursor: pointer;
}
.issue-index{
    position: absolute;
    right: 10px;
    color: #ffffffb3;
    font-size: 70%;
    top: 13px;
}
.text-issue{
    color: #7f0000 !important;
}
.slimScrollDiv{
    width: 100% !important;
}
.icon-report{
    position: absolute !important;
    left: 40%;
    bottom: 10%;
}
span.icon-report{
    color: #ddddd5 !important;
    font-weight: bold;
    left: 7%;
    top: 2%;
}
.nav-vehicles li{
    margin:0 5px 5px 0  !important;
}
.table-report th{
    text-align: center !important;
}
.table-report th > i{
    font-size: 200%;
    color: rgba(211, 211, 211, 0.16);
    position: relative;
    top: -5px;
    float: unset;
}
.select2-container{
    width:100% !important;
}
.no-padding{
    padding: 0 !important;
}


/*
 *  STYLE SCROLLBAR
 */
.scrollbar
{
    width: auto;
    overflow-y: auto;
}


::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 0px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 20px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb
{
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 0px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb
{
    border-radius: 0px;
    background-color: rgba(71, 115, 110, 0.97);
}